<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>update player</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/webjars/jquery/3.4.1/jquery.min.css" />
	<link rel="stylesheet" type="text/css" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/webjars/jquery-ui-themes/1.12.1/blitzer/theme.css" />
	<link rel="stylesheet" type="text/css" href="/webjars/font-awesome/5.11.2/css/all.min.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}"/>
	<!-- fonts googleapis-->
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
</head>
<body>
	<!--header.html  that's here  -->
	<header>
		<div th:replace="fragments/header :: header"></div>
	</header>
	<!-- body -->
	<div class="container-fluid" align="center">	<!-- main container -->
		<div class="col-lg-9 player-form">
			<form action="#" th:action="@{/update}" th:object="${player}" method="post" id="player-form">
				<!-- id -->
				<div class="form-group">
					<label for="id" 
						class="col-md-4 control-label font-weight-bold"
						>ID
					</label>
					<div class="col-md-4">
	 					<input type="text" th:field="*{id}" class="form-control" id="id" placeholder="" readonly="readonly"/>
	 					<span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="alert text-danger"></span>
					</div>
				</div>
				<!-- name -->
				<div class="form-group">
					<label for="name" 
						class="col-md-4 control-label font-weight-bold"
						th:text="#{form.player.name}">Name</label>
					<div class="col-md-4">
	 					<input type="text" th:field="*{name}" class="form-control" id="name" placeholder="" required="required"/>
	 					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert text-danger"></span>
					</div>
				</div>
				<!-- email -->
				<div class="form-group">
					<label for="email" 
						class="col-md-4 control-label font-weight-bold"
						th:text="#{form.player.email}">Email</label>
					<div class="col-md-4">
	 					<input type="text" th:field="*{email}" class="form-control" id="email" placeholder="" required="required"/>
	 					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert text-danger"></span> 
					</div>
				</div>
				<!-- team -->
   				<div class="form-group">
   					<label for="team" 
   						class="col-md-4 control-label font-weight-bold"
   						th:text="#{form.player.team}">Team</label>
   					<div class="col-lg-4" align="left">
   						<select th:field="*{team}" class="form-control">
   							<option value="" th:text="#{form.select.value}">></option>
   							<option th:each="team : ${teams}"
   								th:value="${team.id}"
   								th:text="${team.name}"
   								th:selected="false"
   							/>
   						</select>
   						<span th:if="${#fields.hasErrors('team')}" th:errors="*{team}" class="alert text-danger"></span> 	
					</div>
				</div>
				<!-- Button -->
				<div class="form-group">
					<div class="col-md-4" align="left">
						<input type="submit" class="btn" th:attr="value=#{btn.update}"> 
					</div>
				</div>
			</form>
		</div>
	</div> <!-- /main container -->
	<!--footer.html  that's here  -->
	<footer>
		<div th:replace="fragments/footer :: footer"></div>
	</footer>
	<!-- JS -->
	<script type="text/javascript" src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
  	<script type="text/javascript" src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<!-- autocomplete -->
  	<script>
		$(document).ready(function() {
			$('#teamName').autocomplete({
				source : '/search',
				minLength: '2',
				messages: {
			        noResults: 'no results',
			        results: ''
			    }
			});
		});
	</script>
</body>
</html>